<h1>Welcome to the members area.</h1>
[% INCLUDE message.tt %]

<p><strong>Co-op Statistics</strong>
  (since August 6th, 2015)<br />
  <div id="homepage-data">
  <ul>
    <li> Current taxes:
	  <ul>
        <li>MFT: $0.15/L</li>
        <li>CT: $0.0767/L</li>
        <li>GST: 5% on Total</li>
	  </ul>
	</li>
   <li>Approx CO2 reduction: [% (stats.biodiesel_sold_alltime() * 1.94) div 1 %]kg (<a href="http://www.biomaxfuels.com.au/carbon.html">source</a>)</li>
  </ul>
  </div>
</p>
